<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Help page</h1>
<p>{{text}}</p>
<p>{{generateText 'Text to generate'}}</p>
<p>{{getCurrentDate}}</p>
<a href="./middleware">Middleware last</a>
<a href="./middleware?param=stop">Middleware</a>
{{> footer}}
</body>
</html>
